/*Seccion Sobre Nosotros*/
.fondo8	{
	background-image: url(../img/dance_7.jpg);
	height: 460px;
	background-position: center left;
	background-repeat: no-repeat;
	margin-left: 0 auto;
}
.cuadro {
	width: 30em;
	height: 12em;
	background-color: black;
	opacity: 0.5;
	text-align: center;
	margin-top: 9.5em;
	margin-left: 25em;
}
.opacidad {
	opacity: 1;
	color: white;
	margin: 0.5em;
}
.aboutus {
	font-size: 1.5em;
	margin-top: 1.5em;
}
/*Seccion sobre los Pilares*/	
.fondo9	{
	background-image: url(../img/cubes.png);
	height: 350px;
}
.pilar1, .pilar2, .pilar3 {
	margin: 4em;
	margin-left: 6em;
	width: 20%;
	text-align: center;
	color: rgb(83, 88, 95);
}
.pilares {
	font-size: 2em;
}
hr {
	width: 100%;
	border: 1px solid gray;
}
/*primera row de instructores*/
.marginrow1, .marginrow2 {
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 5em;
	margin-right: 3em;
}
.headerinst {
	font-size: 2em;
	text-align: center;
	margin-top: 2em;
	font-weight: bolder;
}
.rodulfo {
	background-image: url(../img/profesor_4.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.adam {
	background-image: url(../img/profesor_14.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.ian {
	background-image: url(../img/profesor_1.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.kalimba {
	background-image: url(../img/profesor_10.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
/*segunda row de instructores*/
.emma {
	background-image: url(../img/profesor_11.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.sam {
	background-image: url(../img/profesor_12.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.kim {
	background-image: url(../img/profesor_9.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.maggie {
	background-image: url(../img/profesor_15.jpg);
	background-position: center top;
	background-size: 93%;
	background-repeat: no-repeat;
	height: 11em;
	width: 15.2em;
}
.profstyle {
	margin: 0.5em;
	font-size: 1.2em;
}
.descripstyle {
	width: 15em;
	margin-left: 0.5em;
}

/*seccion Frase inspiradora*/
.fondo10 {
	background-image: url(../img/cubes.png);
	height: 250px;
	text-align: center;
}
.frase2 {
	margin-top: 2em;
	font-size: 3em;
	font-style: italic;
}